[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

.DS_Store
Thumbs.db
*.bak
*.swp
*.lock

*.stacktrace
*.log
*.dmp


*.apk
*.aab
*.exe
*.app
*.so
*.bundle
*.dll
*.dylib

Assets/Firebase/Plugins/x86_64/*.so
Assets/Firebase/Plugins/x86_64/*.bundle

Library/PackageCache/