<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3mgMC5wK33VlWY__PYEd6YPBp9g1vXIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1031831641076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weate.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-bdd22</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-bdd22.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031831641076:ios:16a2f640e62cbc67b037a1</string>
</dict>
</plist>